# sphinx_rtd_theme
# Fix Plotly graphs, see https://github.com/rtfd/readthedocs.org/issues/4367
https://github.com/Juanlu001/sphinx_rtd_theme/archive/js-head.zip
nbsphinx
jupyter_client
notebook
numpy
scipy
plotly==3.6.1
pandas
seaborn
tables
